/Debug
/.vs
/lab03-test/Debug
/lab03-test/lab03-test.vcxproj
/lab03-test/lab03-test.vcxproj.filters
/lab03-test/lab03-test.vcxproj.user
/lab1/Debug
/lab1/lab1.vcxproj
/lab1/lab1.vcxproj.filters
/lab1/lab1.vcxproj.user
/curl